<%= image_tag @picture.file.variant(resize_to_limit: [400, 400]) %>

<h3>EXIFS :</h3>

<table>
  <tr>
    <th>Date de prise de vue</th>
    <td><%= @picture.shooting_date %></td>
  </tr>
  <tr>
    <th>Modèle</th>
    <td><%= @picture.model %></td>
  </tr>
  <tr>
    <th>Durée d'exposition</th>
    <td><%= @picture.exposure_time %></td>
  </tr>
  <tr>
    <th>Numéro F</th>
    <td>f/<%= human_read(@picture.f_number) %></td>
  </tr>
  <tr>
    <th>Longueur focale</th>
    <td><%= human_read(@picture.focal_length) %> mm</td>
  </tr>
  <% if @picture.gps_latitude %>
    <tr>
      <th>GPS latitude</th>
      <td><%= @picture.gps_latitude %></td>
    </tr>
  <% end %>
  <% if @picture.gps_longitude %>
    <tr>
      <th>GPS longitude</th>
      <td><%= @picture.gps_longitude %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Back", pictures_path %>